h3{
            font-size: 100 px;
            border-style: double;
  }
  .Country {
  background-color: #2a0ce9;
  color: sandybrown;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
}
.id1{
	background-color: #490928;
	color: white;
}
.abir1{
	color: darkblue;
	background-color: black;
	border-style: double;
}